<!doctype html>
<html>
    <head>
	<meta charset="uft-8">
        <title>Categories Test </title>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        {{{body}}}
        <script src="/script.js"></script>
    </body>
</html>